<% include header.html %>
    <div class="layui-carousel" id="banner">
        <div carousel-item="">
            <div>
                <img src="static/imgs/banner/banner1.png" alt="">
            </div> 
            <div> <img src="static/imgs/banner/banner2.png" alt=""></div> 
            <div><img src="static/imgs/banner/banner3.png" alt=""></div>  
        </div>
    </div>
    <div class="layui-container index">
        <div class="layui-row">
            <div class="layui-col-md2">
                <div class="layui-panel" >
                    <div class="layui-menu index-lf-menu" id="docDemoMenu1">
                        <li lay-options="{id: 100}">
                            <div class="layui-menu-body-title">Now</div>
                        </li>
                        <li lay-options="{id: 101}">
                            <div class="layui-menu-body-title">Future</div>
                        </li>
                        <li lay-options="{id: 103}">
                            <div class="layui-menu-body-title">Later</div>
                        </li>
                        <li lay-options="{id: 104}">
                            <div class="layui-menu-body-title">Maybe</div>
                        </li>
                        <li lay-options="{id: 105}">
                            <img src="static/imgs/index_1.png">
                        </li>
                    </div>
                </div>
            </div>
            <div class="layui-col-md7">
                <div class="site-demo-flow blog-content" id="LAY_demo3">
                    <div class="idx-item">
                        <img height="232" src="static/imgs/banner/banner3.png" alt="">
                        <div class="layui-row item-title"><span class="layui-col-md1">Original</span><h3 class="layui-col-md10">The star and the sea</h3> </div>
                        <p>Whenever you ome to me and tell me about the stars and the sea, will our love be like the stars guarding the sea and never leave? I come to you, you are my sea of stars, the hot star in my eyes, to light my way.</p>
                        <div class="item-user">
                            <img src="static/imgs/tx.png" alt="">
                            <span>Lili</span>
                            <span>Stars boiling hot, you are the ideal of the world</span>
                        </div>
                        <div class="layui-row item-info">
                            <div class="layui-col-md4">
                                <span>2021-07-01</span>
                                <span><img src="static/imgs/ll.png">9999+ </span>
                            </div>
                            <div class="layui-col-md8">
                                <span><img src="static/imgs/dz.png" alt="" srcset="">9999</span>
                                <span><img src="static/imgs/pl.png" alt="" srcset="">9999</span>
                                <span><img src="static/imgs/sc.png" alt="" srcset="">9999</span>
                                <span><img src="static/imgs/fx.png" alt="" srcset="">0099</span>
                            </div>
                        </div>
                        <div class="item-line"></div>
                    </div>

                </div>
            </div>
            <div class="layui-col-md3 idx-r">
                <div class="r-user">
                    <h3>Welcome to HF</h3>
                    <p>Login to HF and share your thoughts at this moment</p>
                    <button type="button" id='toLogin' class="layui-btn layui-btn-primary">login</button>
                </div>
            </div>
        </div>
    </div>
  
<script>


    $('#toLogin').on('click', () => {
        location.href = '/toLogin'
    })
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#banner'
            ,width: '100%' //设置容器宽度
            ,arrow: 'always' //始终显示箭头
            // ,anim: 'updown' //切换动画方式
        });
    });

    //reaction to actions now、Future、 later and Maybe
    layui.use('dropdown', function(){
        var dropdown = layui.dropdown;
        //菜单点击事件，其中 docDemoMenu1 对应的是菜单结构上的 id 指
        dropdown.on('click(docDemoMenu1)', function(options){
            // var othis = $(this); //当前菜单列表的 DOM 对象
            // console.log(options); //菜单列表的 lay-options 中的参数

        });
    });
</script>
<% include footer.html %>